{% extends 'AppBundle::layout-white-bg.html.twig' %}

{% block title %}{{ 'sitename' | trans }} | {{ 'contact'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="col-lg-offset-2 col-lg-8 col-sm-12 panel">
        <h1>{{ 'contact'|trans }}</h1>
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.name,'form.name'|trans) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            <div class="help-block with-errors">{{ form_errors(form.name) }}</div>
        </div>

        <div class="form-group">
            {{ form_label(form.email,'form.email'|trans) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            <div class="help-block with-errors">{{ form_errors(form.email) }}</div>
        </div>


        <div class="form-group">
            {{ form_label(form.message,'form.message'|trans) }}
            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': '10'}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.send, {'label': 'form.send'|trans, 'attr': {'class': 'btn btn-default btn-block'}}) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock content %}
