<div class="col-xs-12 col-md-12 white-bg">
    <div class="col-md-12">
        <h2>Coffres</h2>
        <div class="row">
            <div class="col-md-9">
                <ul id="nav-filter" class="nav nav-pills">
                       {# For filtering controls add #}
                       <li data-filter="all" class="active"><a href="#">{{ 'chests.all.champions'|trans }}<span class="badge">{{ champions|length }}</span></a></li>
                       <li data-filter="1"><a href="#">{{ 'chests.owned'|trans }}<span class="badge">{{ owned }}</span></a></li>
                       <li data-filter="2"><a href="#">{{ 'chests.remaining'|trans }}<span class="badge">{{ remaining }}</span></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <input type="text" name="filtr-search" class="filtr-search form-control" value="" placeholder="Your search" data-search="">
            </div>
        </div>

        <div id="filtr-container-chests" class="filtr-container">
            {% for key, champion in champions %}
                <div class="col-md-3 text-center champion filtr-item" data-category="{{ dataCategory[champion.key] }}" data-sort="value">
                    <h4>{{ champion.key }}</h4>
                    <img src="http://ddragon.leagueoflegends.com/cdn/{{ static_data_version }}/img/champion/{{ champion.key }}.png">
                    {% if champion.chestGranted is defined and champion.chestGranted %}
                        <div>
                            <img src="{{ asset('bundles/app/images/champion-masteries/chest_champion_mastery_over.png' ) }}" />
                        </div>
                    {% else %}
                        <div>
                            <img src="{{ asset('bundles/app/images/champion-masteries/chest_champion_mastery_disabled.png' ) }}" />
                        </div>
                    {% endif %}
                    {% if champion.championLevel is defined %}
                        <div>
                            <img src="{{ asset('bundles/app/images/champion-masteries/' ~ champion.championLevel ~ '.png' ) }}" />
                        </div>
                    {% else %}
                        <div>
                            <img src="{{ asset('bundles/app/images/champion-masteries/chest_champion_mastery_disabled.png' ) }}" />
                        </div>
                    {% endif %}
                    {% if champion.lastPlayTime is defined %}
                        Joué la dernière fois le {{ (champion.lastPlayTime/1000)|date('d/m/Y à H:m') }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
