<div class="col-md-12">
    <h2>{{ 'match.history'|trans }}</h2>
    {% for game in history.games %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-{% if game.stats.win == 'true' %}success{% else %}danger{% endif %}">
                    <div class="panel-heading">{% if game.stats.win == 'true' %}{{ 'victory'|trans }}{% else %}{{ 'defeat'|trans }}{% endif %}</div>
                    <div class="panel-body">
                        <div class="col-md-2 history-score">
                            <span class="text-success">{{ game.stats.championsKilled }}</span> / <span class="text-danger">{{ game.stats.numDeaths }}</span> / <span class="text-warning">{{ game.stats.assists }}</span>
                        </div>
                        <div class="col-md-7">
                            <img class="history-summoner-champion-icon" src="http://ddragon.leagueoflegends.com/cdn/{{ static_data_version }}/img/champion/{{ champions[game.championId].key }}.png">
                            {% for index in 0..6 %}
                                {% include 'AppBundle:Summoner:_history_item.html.twig' with {'item': gamesItems[game.gameId][index] } %}
                            {% endfor %}
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-6">
                                {% for player in gamesPlayers[game.gameId][100] %}
                                    {% include 'AppBundle:Summoner:_history_team_player.html.twig' with {'player': player, 'summoner': summoner} %}
                                {% endfor %}
                            </div>
                            <div class="col-md-6">
                                {% for player in gamesPlayers[game.gameId][200] %}
                                    {% include 'AppBundle:Summoner:_history_team_player.html.twig' with {'player': player } %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
