<table id="{{ teamCSSId }}" class="table table-bordered table-responsive">
    <thead>
    <tr>
        <th class="live-game-name">{{ 'live.game.name'|trans }}</th>
        <th>{{ 'live.game.tier'|trans }}</th>
        <th>{{ 'live.game.stats'|trans }}</th>
        <th class="live-game-champion">{{ 'live.game.champion'|trans }}</th>
        <th>{{ 'live.game.champion.stats'|trans }}</th>
    </tr>
    </thead>
    <tr>
        {% for bannedChampion in bannedChampions %}
            {% if bannedChampion.championId != -1 %}
                <img class="live-game-banned" src="http://ddragon.leagueoflegends.com/cdn/{{ static_data_version }}/img/champion/{{ champions[bannedChampion.championId]['key'] }}.png">
            {% else %}
                <img class="live-game-banned empty-banned-champion" src="{{ asset('bundles/app/images/Unlock_a_Champion.jpg') }}">
            {% endif %}
        {% endfor %}
    </tr>
    {% for player in players %}
        <tr>
            <td><a target="_blank" href="{{ url('app_summoner', {'summonerId': player.summonerId,'region': summoner.region.slug}) }}"><span class="live-game-name">{{ player.summonerName }}</span></a></td>
            <td>
                {% if live_game_data is not empty %}
                    <img class="live-game-rank" src="{{ asset('bundles/app/images/leagues/' ~ live_game_data[player.summonerId].img ~ '.png') }}"/>
                    <span class="live-game-rank">{{ live_game_data[player.summonerId].rank }}</span>
                {% endif %}
            </td>
            <td>
                {% if playerStats[player.summonerId].general is not empty %}
                    {{ playerStats[player.summonerId].general.winrate }} % ({{ playerStats[player.summonerId].general.playedGames }} {{ 'live.game.played'|trans }})<br>
                    {{ playerStats[player.summonerId].general.killsAVG }} / {{ playerStats[player.summonerId].general.deathsAVG }} / {{ playerStats[player.summonerId].general.assistsAVG }}
                {% endif %}
            </td>
            <td>
                <div class="row">
                    <div class="col-md-6">
                        <img class="live-game-champion" src="http://ddragon.leagueoflegends.com/cdn/{{ static_data_version }}/img/champion/{{ champions[player.championId]['key'] }}.png">
                    </div>
                    <div class="col-md-6">
                        <img class="live-game-summoner" src="http://ddragon.leagueoflegends.com/cdn/{{ static_data_version }}/img/spell/{{ summonerSpells[player.spell1Id] }}.png">
                        <img class="live-game-summoner" src="http://ddragon.leagueoflegends.com/cdn/{{ static_data_version }}/img/spell/{{ summonerSpells[player.spell2Id] }}.png">
                    </div>
                </div>
            </td>
            <td>
                {% if playerStats[player.summonerId].champion is not empty %}
                    {{ playerStats[player.summonerId].champion.winrate }} % ({{ playerStats[player.summonerId].champion.playedGames }} {{ 'live.game.played'|trans }})<br>
                    {{ playerStats[player.summonerId].champion.killsAVG }} / {{ playerStats[player.summonerId].champion.deathsAVG }} / {{ playerStats[player.summonerId].champion.assistsAVG }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>