<div class="row">
    <div class="col-md-1">
        {% if rankedStats is not empty  %}
            <ul class="nav nav-pills nav-stacked" role="tablist">
                {% for key,value in rankedStats|reverse(true) %}
                    <li  {% if loop.first  %} class="active" {% endif %}>
                        <a href="#season-{{ key }}" data-toggle="pill" class="navbar-link">
                            {{ 'season'|trans }} {{ key }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="col-md-11">
        {% if rankedStats is not empty  %}
            <div class="tab-content">
                {% for key,value in rankedStats|reverse(true) %}
                    <div class="tab-pane {% if loop.first  %} active{% endif %}" id="season-{{ key }}" role="tabpanel">
                        <table class="rankedStatsTable table table-bordered table-responsive table-striped">
                            <thead>
                            <tr>
                                <th>Champion</th>
                                <th>Winrate</th>
                                <th>Wins</th>
                                <th>Loses</th>
                                <th>Kills</th>
                                <th>Deaths</th>
                                <th>Assists</th>
                                <th>Creeps</th>
                            </tr>
                            </thead>
                            <tbody>
                            {# ID 0 = total #}
                            {% for line in value %}
                                {% if line.championId != 0 %}
                                    <tr class="champion_stats_line">
                                        <td><span class="hidden">{{ champions[line.championId]['key'] }}</span> <img src="http://ddragon.leagueoflegends.com/cdn/{{ static_data_version }}/img/champion/{{ champions[line.championId]['key'] }}.png"></td>
                                        <td>{{ (line.winrate)|round(2, 'common') }} %</td>
                                        <td>{{ line.wins }}</td>
                                        <td>{{ line.loses }}</td>
                                        <td>{{ (line.kills / line.playedGames)|round(1, 'common') }}</td>
                                        <td>{{ (line.deaths / line.playedGames)|round(1, 'common') }}</td>
                                        <td>{{ (line.assists / line.playedGames)|round(1, 'common') }}</td>
                                        <td>{{ (line.creeps / line.playedGames)|round(1, 'common') }}</td>
                                    </tr>
                                {% else %}
                                    <tr class="champion_stats_line">
                                        <td>General</td>
                                        <td>{{ (line.winrate)|round(2, 'common') }} %</td>
                                        <td>{{ line.wins }}</td>
                                        <td>{{ line.loses }}</td>
                                        <td>{{ (line.kills / line.playedGames)|round(1, 'common') }}</td>
                                        <td>{{ (line.deaths / line.playedGames)|round(1, 'common') }}</td>
                                        <td>{{ (line.assists / line.playedGames)|round(1, 'common') }}</td>
                                        <td>{{ (line.creeps / line.playedGames)|round(1, 'common') }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
