<div class="row">
    <div class="col-md-1">
        {% if rankedStats is not empty  %}
            <ul class="nav nav-pills nav-stacked" role="tablist">
                {% for key,value in rankedStats|reverse(true) %}
                    <li  {% if loop.first  %} class="active" {% endif %}>
                        <a href="#season-{{ key }}" data-toggle="pill" class="navbar-link">
                            {{ 'season'|trans }} {{ key }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="col-md-11">
        {% if rankedStats is not empty  %}
            <div class="tab-content">
                {% for key,value in rankedStats|reverse(true) %}
                    <div class="tab-pane {% if loop.first  %} active{% endif %}" id="season-{{ key }}" role="tabpanel">
                        <table class="table table-bordered table-responsive table-striped">
                            <thead>
                            <tr>
                                <th>Champion</th>
                                <th>Winrate</th>
                                <th>Wins</th>
                                <th>Loses</th>
                                <th>Kills</th>
                                <th>Deaths</th>
                                <th>Assists</th>
                                <th>Creeps</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="champion_stats_line">
                                <td>Total</td>
                                <td>{{ value.average.winrate }} %</td>
                                <td class="positive-color">{{ value.average.wins }}</td>
                                <td class="negative-color">{{ value.average.loses }}</td>
                                <td>{{ value.average.kills }}</td>
                                <td>{{ value.average.deaths }}</td>
                                <td>{{ value.average.assists }}</td>
                                <td>{{ value.average.creeps }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <br>
                        <table class="rankedStatsTable table table-bordered table-responsive table-striped">
                            <thead>
                            <tr>
                                <th>Champion</th>
                                <th>Winrate</th>
                                <th>Wins</th>
                                <th>Loses</th>
                                <th>Kills</th>
                                <th>Deaths</th>
                                <th>Assists</th>
                                <th>Creeps</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for line in value.champions %}
                                <tr class="champion_stats_line">
                                    <td><span class="hidden">{{ champions[line.championId]['key'] }}</span> <img src="http://ddragon.leagueoflegends.com/cdn/{{ static_data_version }}/img/champion/{{ champions[line.championId]['key'] }}.png"></td>
                                    <td>{{ line.winrate }} %</td>
                                    <td class="positive-color">{{ line.wins }}</td>
                                    <td class="negative-color">{{ line.loses }}</td>
                                    <td>{{ line.kills }}</td>
                                    <td>{{ line.deaths }}</td>
                                    <td>{{ line.assists }}</td>
                                    <td>{{ line.creeps }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
