<div class="col-md-12">
    <h2>{{ 'champion.masteries'|trans }}</h2>
    {% for mastery in championsMastery %}
        <div class="col-lg-2 col-md-4 col-sm-3 col-xs-2 text-center champion-mastery-div">
            <h4>{{ champions[mastery.championId].name }}</h4>
            <img src="http://ddragon.leagueoflegends.com/cdn/{{ static_data_version }}/img/champion/{{ champions[mastery.championId].key }}.png"><br>
            <img class="champion-mastery-level-icon" src="{{ asset('bundles/app/images/champion-masteries/' ~ mastery.championLevel ~ '.png') }}"/>
            <br>{{ 'champion.masteries.level'|trans }} : {{ mastery.championLevel }}
            <br>{{ 'champion.masteries.points'|trans }} : {{ mastery.championPoints }}
        </div>
    {% endfor %}
</div>