<div class="form-group">
    <label for="runesPageSelect">{{ 'runes.page.choice'|trans }}:</label>
    <select class="form-control" id="runesPageSelect">
        {% for page in runePages.pages %}
            <option value="{{ loop.index }}">{{ page.name }}</option>
        {% endfor %}
    </select>
</div>
{% for page in runePages.pages %}
    <div class="hidden" id="rune-page-{{ loop.index }}">
        <h1>{{ page.name }}</h1>
        <div class="hidden rune-page-current-{{ page.current ? 'true':'false' }}">{{ loop.index }}</div>
        <div class="col-md-9">
            {% if page.slots is defined %}
                {% for rune in page.slots %}
                    <div>
                        {{ runesData[rune.runeId].name }}
                        <img src="http://ddragon.leagueoflegends.com/cdn/{{ static_data_version }}/img/rune/{{ runes[rune.runeId] }}" />
                        {{ runesData[rune.runeId].description }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-md-3">
            <h2>Total</h2>
        </div>
    </div>
{% endfor %}
<script>
    $( document ).ready(function() {

        var lastPageDisplayed = 1;

        $('#runesPageSelect').change(function(){
            var data = $(this).val();
            $('#rune-page-' + lastPageDisplayed).addClass('hidden');
            $('#rune-page-' + data).removeClass('hidden');
            lastPageDisplayed = data;
        });

        var index =         $('.rune-page-current-true:first').text();

        $('#runesPageSelect')
                .val(index)
                .trigger('change');
    });
</script>