{% include 'AppBundle:Summoner:_top_champion_mastery.html.twig' %}
{% if rankedStats is not empty %}
    <table class="table table-bordered table-responsive table-striped">
        <tbody>
            <tr>
                <td>Winrate</td>
                <td>{{ rankedStats.6.average.winrate }} % (<span class="positive-color">{{ rankedStats.6.average.wins }}</span> - <span class="negative-color">{{ rankedStats.6.average.loses }}</span>)</td>
            </tr>
            <tr>
                <td>KDA</td>
                <td>{{ rankedStats.6.average.KDA }} ({{ rankedStats.6.average.killsAVG }} / {{ rankedStats.6.average.deathsAVG }} / {{ rankedStats.6.average.assistsAVG }})</td>
            </tr>
            <tr>
                <td>Creeps</td>
                <td>{{ rankedStats.6.average.creepsAVG }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}
