<div class="col-md-12">
    <h2>{{ 'summoner.tiers'|trans }}</h2>
    <div class="col-md-4 text-center">
        <h4>Flex 3v3</h4>
        {% include 'AppBundle:Summoner:_tier.html.twig' with {'queue': 'flex3'} %}
    </div>
    <div class="col-md-4 text-center">
        <h4>Solo/Duo</h4>
        {% include 'AppBundle:Summoner:_tier.html.twig' with {'queue': 'solo'} %}
    </div>
    <div class="col-md-4 text-center">
        <h4>Flex 5v5</h4>
        {% include 'AppBundle:Summoner:_tier.html.twig' with {'queue': 'flex5'} %}
    </div>
</div>
{% include 'AppBundle:Summoner:_top_champion_mastery.html.twig' %}

{% if rankedStats is not empty %}
    <table class="table table-bordered table-responsive table-striped">
        <tbody>
        <tr>
            <td>Winrate</td>
            <td>{{ rankedStats|last.average.winrate }} % (<span class="positive-color">{{ rankedStats|last.average.wins }}</span> - <span class="negative-color">{{ rankedStats|last.average.loses }}</span>)</td>
        </tr>
        <tr>
            <td>KDA</td>
            <td>{{ rankedStats|last.average.KDA }} ({{ rankedStats|last.average.killsAVG }} / {{ rankedStats|last.average.deathsAVG }} / {{ rankedStats|last.average.assistsAVG }})</td>
        </tr>
        <tr>
            <td>Creeps</td>
            <td>{{ rankedStats|last.average.creepsAVG }}</td>
        </tr>
        </tbody>
    </table>
{% endif %}
