{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} | {{ 'title.summoner.profile' | trans({'%summonerName%': summoner.name}) }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/app/css/Summoner/chests.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/app/css/Summoner/ranked_stats.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/app/css/Summoner/live_game.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" src="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" src="https://cdn.datatables.net/plug-ins/1.10.13/integration/font-awesome/dataTables.fontAwesome.css" />
{% endblock stylesheets %}

{% block javascripts_body %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.filterizr.min.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            // Ranked stats datatable
            $('.rankedStatsTable').DataTable({
                "paging": false,
                "order": [[ 0, 'asc' ]]
            });

            var isChestsAndMasteriesLoaded = false;
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href") // activated tab
                //alert(target);
                switch(target)
                {
                        //case "#championMasteries":
                    case "#chests":
                        if(!isChestsAndMasteriesLoaded)
                        {
                            // Chests
                            $( "#nav-filter li a" ).click(function() {
                                $('#nav-filter > li').each(function () {
                                    $(this).removeClass("active")
                                });
                                $(this).parent().addClass("active");
                            });
                            var filterizd = $('.filtr-container').filterizr({
                                //options object
                            });
                            // On met les champions avec les coffres en valeur
                            //$( "li[data-filter='1']" ).click();
                            isChestsAndMasteriesLoaded = true;
                        }
                        break;
                    default:
                        break;
                }
            });

            $('#update-summoner-btn').click(function() {
                $(this).attr("disabled","disabled");
                $(this).text('updating');
                //$(this).addClass("disabled");
                //alert( "Handler for .click() called." );
            });

            // Bootstrap Tab URL
            $(document).ready(function() {
                if (location.hash !== '') $('a[href="' + location.hash + '"]').tab('show');
                $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) { if(history.pushState) history.pushState(null, null, '#'+$(e.target).attr('href').substr(1)); else location.hash = '#'+$(e.target).attr('href').substr(1); });
            });

        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 white-bg">
                <div class="row">
                    <div class="col-md-2">
                        <img src="http://ddragon.leagueoflegends.com/cdn/{{ static_data_version }}/img/profileicon/{{ summoner.profileIconId }}.png" />
                        {#
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{ topChampionsMastery.0.championKey }}_0.jpg" />
                        #}
                    </div>
                    <div class="col-md-5">
                        <h1>{{ summoner.name }}<span class="badge"> {{ summoner.region.slug }}</span></h1>
                        <button class="btn btn-default btn-lg" id="update-summoner-btn">{{ 'summoner.update'|trans }}</button>
                    </div>
                    <div class="col-md-5">
                        <img src="{{ asset('bundles/app/images/leagues/' ~ soloqimg ~ '.png') }}" />
                        {% if soloq is not null %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ soloq.tier }} {{ soloq.entries.0.division }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ soloq.entries.0.leaguePoints }} {{ 'league.points'|trans }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 positive-color">
                                    {{ soloq.entries.0.wins }} W
                                </div>
                                <div class="col-md-6 negative-color">
                                    {{ soloq.entries.0.losses }} L
                                </div>
                            </div>
                        {% else %}
                            {{ 'unranked'|trans }}
                        {% endif %}
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Résumé</a></li>
                    <li><a data-toggle="tab" href="#liveGame">Live game</a></li>
                    <li><a data-toggle="tab" href="#rankedStats">Ranked stats</a></li>
                    <li><a data-toggle="tab" href="#history">Historique</a></li>
                    <li><a data-toggle="tab" href="#runes">Runes</a></li>
                    <li><a data-toggle="tab" href="#masteries">Maitrises</a></li>
                    <li><a data-toggle="tab" href="#championMasteries">Maitrises de champion</a></li>
                    <li><a data-toggle="tab" href="#chests">Coffres</a></li>
                </ul>
                <div id="loadingDiv" class="col-md-12 text-center hidden">
                    <img src="{{ asset('bundles/app/images/loader.gif' ) }}" />
                    <h1>Opération en cours</h1>
                </div>
                {#

                <a class="btn btn-primary btn-lg" role="button" href="">Update summoner</a>
                <a class="btn btn-primary btn-lg" role="button" href="{{	path('app_summoner_chests', {'region': summoner.region, 'summonerId': summoner.summonerId}) }}">Maitrises / coffres</a>
                #}
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        {% include 'AppBundle:Summoner:_summary.html.twig' %}
                    </div>
                    <div id="liveGame" class="tab-pane fade">
                        {% include 'AppBundle:Summoner:_live_game.html.twig' %}
                    </div>
                    <div id="rankedStats" class="tab-pane fade">
                        {% include 'AppBundle:Summoner:_ranked_stats.html.twig' %}
                    </div>
                    <div id="history" class="tab-pane fade">
                        {% include 'AppBundle:Summoner:_history.html.twig' %}
                    </div>
                    <div id="runes" class="tab-pane fade">
                        {% include 'AppBundle:Summoner:_runes.html.twig' %}
                    </div>
                    <div id="masteries" class="tab-pane fade">
                        {% include 'AppBundle:Summoner:_masteries.html.twig' %}
                    </div>
                    <div id="championMasteries" class="tab-pane fade">
                        {% include 'AppBundle:Summoner:_remaining_champion_mastery.html.twig' %}
                    </div>
                    <div id="chests" class="tab-pane fade">
                        {% include 'AppBundle:Summoner:_chests.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        table.dataTable thead th {
            position: relative;
            background-image: none !important;
        }

        table.dataTable thead th.sorting:after,
        table.dataTable thead th.sorting_asc:after,
        table.dataTable thead th.sorting_desc:after {
            position: absolute;
            top: 12px;
            right: 8px;
            display: block;
            font-family: FontAwesome;
        }

        table.dataTable thead th.sorting:after {
            content: "\f0dc";
            color: #ddd;
            font-size: 0.8em;
            padding-top: 0.12em;
        }
        table.dataTable thead th.sorting_asc:after {
            content: "\f0de";
        }
        table.dataTable thead th.sorting_desc:after {
            content: "\f0dd";
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script>
        /*
        $( document ).ready(function() {
            var isChestsAndMasteriesLoaded = false;
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href") // activated tab
                //alert(target);
                switch(target)
                {
                    //case "#championMasteries":
                    case "#chests":
                            if(!isChestsAndMasteriesLoaded)
                            {
                                $('#loadingDiv').removeClass('hidden');
                                var summonerId = {{ summoner.id }};
                                var region = '{{ summoner.region.slug }}';
                                $.ajax({
                                    url: '{{	path('app_summoner_chests_ajax', {'region': summoner.region.slug, 'summonerId': summoner.id}) }}',
                                    type: 'POST',
                                    data: {'summonerId': summonerId, 'region': region},
                                    dataType: 'html',
                                    success: function(data) {
                                        $('#loadingDiv').addClass('hidden');
                                        $('#chests').html(data);
                                        $( "#nav-filter li a" ).click(function() {
                                            $('#nav-filter > li').each(function () {
                                                $(this).removeClass("active")
                                            });
                                            $(this).parent().addClass("active");
                                        });
                                        var filterizd = $('.filtr-container').filterizr({
                                            //options object
                                        });
                                    }
                                });
                                isChestsAndMasteriesLoaded = true;
                            }
                        break;
                    default:
                        break;
                }
            });
        });
        */
    </script>
{% endblock content %}
