{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} | {{ 'title.summoner.profile' | trans({'%summonerName%': summoner.name}) }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/app/css/Summoner/chests.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets 'bundles/app/css/Summoner/ranked_stats.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets 'bundles/app/css/Summoner/live_game.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets 'bundles/app/css/Summoner/history.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="stylesheet" src="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet"
          src="https://cdn.datatables.net/plug-ins/1.10.13/integration/font-awesome/dataTables.fontAwesome.css"/>
{% endblock stylesheets %}

{% block javascripts_body %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.filterizr.min.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            // Ranked stats datatable
            $('.rankedStatsTable').DataTable({
                "paging": false,
                "order": [[0, 'asc']]
            });

            var isChestsAndMasteriesLoaded = false;
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href") // activated tab
                //alert(target);
                /*
                 switch(target)
                 {
                 //case "#championMasteries":
                 case "#chests":
                 if(!isChestsAndMasteriesLoaded)
                 {
                 // Chests
                 $( "#nav-filter li a" ).click(function() {
                 $('#nav-filter > li').each(function () {
                 $(this).removeClass("active")
                 });
                 $(this).parent().addClass("active");
                 });
                 var filterizd = $('.filtr-container').filterizr({
                 //options object
                 });
                 // On met les champions avec les coffres en valeur
                 //$( "li[data-filter='1']" ).click();
                 isChestsAndMasteriesLoaded = true;
                 }
                 break;
                 default:
                 break;
                 }*/
            });

            $('#update-summoner-btn').click(function () {
                $(this).attr("disabled", "disabled");
                $(this).text('updating');
                /*
                 var summonerId = {{ summoner.summonerId }};
                 var region = '{{ summoner.region.slug }}';
                 $.ajax({
                 url: '{{ path('app_summoner_chests_ajax', {'region': summoner.region.slug, 'summonerId': summoner.summonerId}) }}',
                 type: 'POST',
                 data: {'summonerId': summonerId, 'region': region},
                 dataType: 'html',
                 success: function(data) {
                 $('#chests').html(data);
                 $( "#nav-filter li a" ).click(function() {
                 $('#nav-filter > li').each(function () {
                 $(this).removeClass("active")
                 });
                 $(this).parent().addClass("active");
                 });
                 var filterizd_chests = $('#filtr-container-chests').filterizr({
                 //options object
                 });
                 }
                 });
                 */
            });

        });
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 white-bg">
                <div class="row">
                    <div class="col-md-2">
                        <figure>
                            <img src="{{ summoner.profileIconId|sumIcon }}"/>
                            <figcaption>{{ summoner.level }}</figcaption>
                        </figure>
                        {#
                        <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{ topChampionsMastery.0.championKey }}_0.jpg" />
                        #}
                    </div>
                    <div class="col-md-7">
                        <h1>{{ summoner.name }}<span class="badge region-badge"> {{ summoner.region.slug }}</span></h1>
                        <button class="btn btn-default btn-lg"
                                id="update-summoner-btn">{{ 'summoner.update'|trans }}</button>
                    </div>
                    <div class="col-md-3 text-center">
                        {% if ranks['solo'] is defined %}
                            <img src="{{ asset('bundles/app/images/leagues/' ~ ranks['solo'].tier.image ~ '.png') }}"/>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    {{ ranks['solo'].tier.name }} <br>
                                    {{ ranks['solo'].leaguePoints }} {{ 'league.points'|trans }} <br>
                                    <span class="positive-color">{{ ranks['solo'].wins }} W</span> - <span class="negative-color">{{ ranks['solo'].losses }} L</span>
                                </div>
                            </div>
                        {% else %}
                            <img src="{{ asset('bundles/app/images/leagues/unranked_.png') }}"/>
                            <div class="row">
                                <div class="col-md-12">
                                    {{ 'unranked'|trans }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#summary">{{ 'summary'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#liveGame">{{ 'live.game'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#rankedStats">{{ 'ranked.stats'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#history">{{ 'history'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#runes">{{ 'runes'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#masteries">{{ 'masteries'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#championMasteries">{{ 'champions.mastery'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#chests">{{ 'chests'|trans }}</a></li>
                </ul>
                {#

                <a class="btn btn-primary btn-lg" role="button" href="">Update summoner</a>
                <a class="btn btn-primary btn-lg" role="button" href="{{	path('app_summoner_chests', {'region': summoner.region, 'summonerId': summoner.summonerId}) }}">Maitrises / coffres</a>
                #}
                <div class="tab-content">
                    <div id="summary" class="tab-pane fade in active">
                        {% include 'AppBundle:Summoner:_summary.html.twig' %}
                    </div>
                    <div id="liveGame" class="tab-pane fade">
                        {% include 'AppBundle:Summoner:_loading.html.twig' %}
                    </div>
                    <div id="rankedStats" class="tab-pane fade">
                        {% include 'AppBundle:Summoner:_ranked_stats.html.twig' %}
                    </div>
                    <div id="history" class="tab-pane fade">
                        {% include 'AppBundle:Summoner:_loading.html.twig' %}
                    </div>
                    <div id="runes" class="tab-pane fade">
                        {% include 'AppBundle:Summoner:_loading.html.twig' %}
                    </div>
                    <div id="masteries" class="tab-pane fade">
                        {% include 'AppBundle:Summoner:_loading.html.twig' %}
                    </div>
                    <div id="championMasteries" class="tab-pane fade">
                        {% include 'AppBundle:Summoner:_loading.html.twig' %}
                    </div>
                    <div id="chests" class="tab-pane fade">
                        {% include 'AppBundle:Summoner:_loading.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        table.dataTable thead th {
            position: relative;
            background-image: none !important;
        }

        table.dataTable thead th.sorting:after,
        table.dataTable thead th.sorting_asc:after,
        table.dataTable thead th.sorting_desc:after {
            position: absolute;
            top: 12px;
            right: 8px;
            display: block;
            font-family: FontAwesome;
        }

        table.dataTable thead th.sorting:after {
            content: "\f0dc";
            color: #ddd;
            font-size: 0.8em;
            padding-top: 0.12em;
        }

        table.dataTable thead th.sorting_asc:after {
            content: "\f0de";
        }

        table.dataTable thead th.sorting_desc:after {
            content: "\f0dd";
        }
    </style>
    <script>

        $(document).ready(function () {
            var isChestsLoaded = false;
            var isLiveGameLoaded = false;
            var isRuneLoaded = false;
            var isMasteriesPagesLoaded = false;
            var isChampionMasteriesLoaded = false;
            var isHistoryLoaded = false;
            var isFilterizdLoaded = false;

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href") // activated tab
                switch (target) {
                    case "#liveGame":
                        if (!isLiveGameLoaded) {
                            var summonerId = {{ summoner.summonerId }};
                            var region = '{{ summoner.region.slug }}';
                            $.ajax({
                                url: '{{ path('app_summoner_live_game_ajax', {'region': summoner.region.slug, 'summonerId': summoner.summonerId}) }}',
                                type: 'POST',
                                data: {'summonerId': summonerId, 'region': region},
                                dataType: 'html',
                                success: function (data) {
                                    $('#liveGame').html(data);
                                }
                            });
                            isLiveGameLoaded = true;
                        }
                        break;
                    case "#history":
                        if (!isHistoryLoaded) {
                            var summonerId = {{ summoner.summonerId }};
                            var region = '{{ summoner.region.slug }}';
                            $.ajax({
                                url: '{{ path('app_summoner_history_ajax', {'region': summoner.region.slug, 'summonerId': summoner.summonerId}) }}',
                                type: 'POST',
                                data: {'summonerId': summonerId, 'region': region},
                                dataType: 'html',
                                success: function (data) {
                                    $('#history').html(data);
                                }
                            });
                            isHistoryLoaded = true;
                        }
                        break;
                    case "#runes":
                        if (!isRuneLoaded) {
                            var summonerId = {{ summoner.summonerId }};
                            var region = '{{ summoner.region.slug }}';
                            $.ajax({
                                url: '{{ path('app_summoner_runes_ajax', {'region': summoner.region.slug, 'summonerId': summoner.summonerId}) }}',
                                type: 'POST',
                                data: {'summonerId': summonerId, 'region': region},
                                dataType: 'html',
                                success: function (data) {
                                    $('#runes').html(data);
                                }
                            });
                            isRuneLoaded = true;
                        }
                        break;
                    case "#masteries":
                        if (!isMasteriesPagesLoaded) {
                            var summonerId = {{ summoner.summonerId }};
                            var region = '{{ summoner.region.slug }}';
                            $.ajax({
                                url: '{{ path('app_summoner_masteries_ajax', {'region': summoner.region.slug, 'summonerId': summoner.summonerId}) }}',
                                type: 'POST',
                                data: {'summonerId': summonerId, 'region': region},
                                dataType: 'html',
                                success: function (data) {
                                    $('#masteries').html(data);
                                }
                            });
                            isMasteriesPagesLoaded = true;
                        }
                        break;
                    case "#championMasteries":
                        if (!isChampionMasteriesLoaded) {
                            var summonerId = {{ summoner.summonerId }};
                            var region = '{{ summoner.region.slug }}';
                            $.ajax({
                                url: '{{ path('app_summoner_champion_masteries_ajax', {'region': summoner.region.slug, 'summonerId': summoner.summonerId}) }}',
                                type: 'POST',
                                data: {'summonerId': summonerId, 'region': region},
                                dataType: 'html',
                                success: function (data) {
                                    $('#championMasteries').html(data);
                                    $("#nav-filter li a").click(function () {
                                        $('#nav-filter > li').each(function () {
                                            $(this).removeClass("active")
                                        });
                                        $(this).parent().addClass("active");
                                    });
                                    var filterizd_chapion_masteries = $('#filtr-container-champion-masteries').filterizr({
                                        //options object
                                    });

                                }
                            });
                            isChampionMasteriesLoaded = true;
                        }
                        break;
                    case "#chests":
                        if (!isChestsLoaded) {
                            var summonerId = {{ summoner.summonerId }};
                            var region = '{{ summoner.region.slug }}';
                            $.ajax({
                                url: '{{ path('app_summoner_chests_ajax', {'region': summoner.region.slug, 'summonerId': summoner.summonerId}) }}',
                                type: 'POST',
                                data: {'summonerId': summonerId, 'region': region},
                                dataType: 'html',
                                success: function (data) {
                                    $('#chests').html(data);
                                    $("#nav-filter li a").click(function () {
                                        $('#nav-filter > li').each(function () {
                                            $(this).removeClass("active")
                                        });
                                        $(this).parent().addClass("active");
                                    });
                                    var filterizd_chests = $('#filtr-container-chests').filterizr({
                                        //options object
                                    });
                                }
                            });
                            isChestsLoaded = true;
                        }
                        break;
                    default:
                        break;
                }
            });
        });

    </script>
{% endblock content %}
