{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} | {{ 'title.summoner.not.existing' | trans }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets %}

{% block javascripts_body %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 white-bg">
                <h2>{{ 'summoner.not.found.for.this.region'|trans({'%name%': name, '%region%': region.name}) }}</h2>
                <div>{{ 'try.another.region'|trans }} :</div>
                {% for region in data.regions %}
                    <div>{{ region.name }} =
                        > {% if data.summoners[region.slug] is defined %} <a
                                href="{{ path('app_summoner',{'region': region.slug, 'summonerId': data.summoners[region.slug][formattedName]['id']}) }}">{{ data.summoners[region.slug][formattedName]['name'] }}
                            -
                            Level {{ data.summoners[region.slug][formattedName]['summonerLevel'] }} {{ data.summoners[region.slug][formattedName]['profileIconId'] }}</a> {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
