{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets '@bootstrap_css' output='css/bootstrap.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% stylesheets 'bundles/app/css/*' filter='cssrewrite, uglifycss' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}"/>
{% endblock stylesheets %}

{% block javascripts_head %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    {# Google Analytics #}
    <script>
        window.ga = window.ga || function () {
                (ga.q = ga.q || []).push(arguments)
            };
        ga.l = +new Date;
        ga('create', 'UA-99594945-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    {#  End Google Analytics #}
{% endblock javascripts_head %}

{% block javascripts_body %}
    {{ parent() }}
    {% javascripts '@bootstrap_js' output='js/bootstrap.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ asset('bundles/app/js/external/js-cookie.js') }}"></script>
    <script src="{{ asset('bundles/app/js/external/platform.js') }}"></script>
    <script src="{{ asset('bundles/app/js/main.js') }}"></script>
{% endblock javascripts_body %}

{% block body %}
    <div id="wrapper">
        {% include 'AppBundle:_shared:_navigation.html.twig' %}
        {% block content %}
        {% endblock content %}
    </div>
    {% include 'AppBundle:_shared:_footer.html.twig' %}
{% endblock body %}
