<ul>
	{% if user.summoners is defined %}
		{% for summoner in user.summoners %}
			<a href="{{path('app_summoner',{'region': summoner.region.slug, 'summonerId': summoner.id}) }}">
				<div class="col-md-3 summoner">
					<h3>{{ summoner.name }}</h3>
					<div>niveau {{ summoner.level }}</div>
					<img src="{{ asset('bundles/app/images/leagues/' ~ summoner.tier.image ~ '.png') }}" />
					<img src="http://ddragon.leagueoflegends.com/cdn/{{ static_data_version }}/img/profileicon/{{ summoner.profileIconId }}.png" />
				</div>
			</a>
		{% endfor %}
	{% else %}
	{% endif %}
</ul>
