<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('app_homepage') }}">{{ 'sitename' | trans }} <sub>Beta</sub></a>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-left">
                {% if app.environment == 'dev' %}
                    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'navbar.register' | trans }}</a></li>
                        <li><a href="#" data-toggle="modal"
                               data-target="#loginModal">{{ 'navbar.login' | trans }}</a></li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="fa fa-user"></span> 
                                <strong>{{ 'navbar.account'|trans }}</strong>
                                <span class="fa fa-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <img src="{{ app.user.gravatar }}"/>
                                                </p>
                                            </div>
                                            <div class="col-lg-8">
                                                <p class="text-left"><strong>{{ app.user.username }}</strong></p>
                                                <p class="text-left small">{{ app.user.email }}</p>
                                                <p class="text-left">
                                                    <a href="{{ path('app_profile',  {'userId':app.user.id}) }}"
                                                       class="btn btn-primary btn-block btn-sm">{{ 'navbar.account' | trans }}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path('fos_user_security_logout') }}"
                                                       class="btn btn-danger btn-block">{{ 'navbar.logout'|trans }}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <style>
                            .navbar-login {
                                width: 305px;
                                padding: 10px;
                                padding-bottom: 0px;
                            }

                            .navbar-login-session {
                                padding: 10px;
                                padding-bottom: 0px;
                                padding-top: 0px;
                            }

                            .icon-size {
                                font-size: 87px;
                            }
                        </style>
                    {% endif %}
                    <li><a href="{{ path('app_search_summoners') }}">{{ 'navbar.lookup'|trans }}</a></li>
                {% endif %}
                {% if app.environment == 'dev' %}
                    <li><a href="{{ path('app_dev_featured') }}">Featured</a></li>
                    <li><a href="{{ path('app_badge_generator') }}">Badge</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-left" role="search" action="{{ path('app_searchbar') }}"
                          method="post">
                        <div class="input-group">
                    <span class="input-group-btn">
						<button id="button-region" type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#modalChooseRegion">
                            <span id="button-region-text">{{ favorite_region|upper }} </span>
                            <span class="caret"></span>
                        </button>
					</span>
                            <input id="searchbar-region" name="searchbar-region" type="hidden"
                                   value="{{ favorite_region }}">
                            <input name="searchbar-summonerName" type="text" class="form-control"
                                   placeholder="{{ 'search.summoner.placeholder'|trans }}" required>
                            <span class="input-group-btn">
						<button class="btn btn-primary" type="submit"><i class="fa fa-search"
                                                                         aria-hidden="true"></i></button>
					</span>
                        </div>
                    </form>
                </li>
                <li><a href="#" type="button" data-toggle="modal"
                       data-target="#modalChooseLanguage">
                        <img class='flag'
                             src='{{ asset('bundles/app/images/flags/' ~ app.request.locale|upper ~ '.png' ) }}'/>
                        <span class="caret"></span></a>
                </li>
            </ul>


        </div><!--/.nav-collapse -->
    </div>
</nav>
{% include 'AppBundle:_shared:_modal_language.html.twig' %}
{% include 'AppBundle:_shared:_modal_region.html.twig' %}
{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    {% include 'AppBundle:_shared:_modal_login.html.twig' %}
{% endif %}
