{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} | Featured games }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" src="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" src="https://cdn.datatables.net/plug-ins/1.10.13/integration/font-awesome/dataTables.fontAwesome.css" />
{% endblock stylesheets %}

{% block javascripts_body %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.filterizr.min.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 white-bg">
                <div class="row">
                    <h1>Invocateurs en game actuellement</h1>

                    <h1>{{ country }}</h1>
                    <h1>{{ ip }}</h1>
                    <div class="row">
                        <div class="col-md-3">
                            <h1 class="text-success"><i class="fa fa-microchip" aria-hidden="true"></i> <span id="cpu_load_percent"></span> %</h1>
                        </div>
                        <div class="col-md-3">
                            <h1 class="text-info"><i class="fa fa-building-o" aria-hidden="true"></i> <span id="ram_info_percent"></span> %</h1>
                        </div>
                        <div class="col-md-3">
                            <h1 class="text-warning"><i class="fa fa-floppy-o" aria-hidden="true"></i> <span id="used_space_disk_percent"></span> %</h1>
                        </div>
                        <div class="col-md-3">
                            <h1 class="text-danger"><i class="fa fa-wifi" aria-hidden="true"></i> <span id="network"></span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            (function worker() {
                $.ajax({
                    url: '{{ path('app_dev_monitoring_ajax') }}',
                    dataType: 'html',
                    success: function(data) {
                        var ramInfos = JSON.parse(data)['ram'];
                        var cpuInfos = JSON.parse(data)['cpu'];
                        var diskSpace = JSON.parse(data)['disk'];
                        var network = JSON.parse(data)['network'];

                        $('#ram_info_total').html(Math.round(ramInfos['total'] / 1000000, 0));
                        $('#ram_info_percent').html(ramInfos['percent']);
                        $('#cpu_load_percent').html(cpuInfos);
                        $('#used_space_disk_percent').html(diskSpace);
                        $('#network').html(network['download'] + '<br>' + network['upload']);
                    },
                    complete: function() {
                        // Schedule the next request when the current one's complete
                        setTimeout(worker, 1000);
                    }
                });
            })();
        });
    </script>
{% endblock content %}
