{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} | Featured games }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" src="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" src="https://cdn.datatables.net/plug-ins/1.10.13/integration/font-awesome/dataTables.fontAwesome.css" />
{% endblock stylesheets %}

{% block javascripts_body %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/app/js/jquery.filterizr.min.js') }}"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 white-bg">
                <div class="row">
                    <h1>Invocateurs en game actuellement</h1>
                    <div id="ram_info">
                        {{ data }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            (function worker() {
                $.ajax({
                    url: '{{ path('app_dev_monitoring_ajax') }}',
                    dataType: 'html',
                    success: function(data) {
                        $('#ram_info').html(JSON.parse(data)['data']);
                    },
                    complete: function() {
                        // Schedule the next request when the current one's complete
                        setTimeout(worker, 1000);
                    }
                });
            })();
        });
    </script>
{% endblock content %}
